/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;

	--light_menu: white;
	--mid_menu: antiquewhite;
	--dark_menu: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: calc(15px + .2vw);
	width: min(80%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}
h1, h2, h3, p, ul {
	padding: .25em 0;
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}
ul {
	margin-left: 2em;
}

/* the styles for the header */
header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(
	    30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	text-align: center;
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		display:none;
	}
}

/* the styles for the main content */
main {
	display: flex;
	padding: 0 1em 1em;
	flex-direction: column-reverse;
	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
	& h3 + img { /* speaker images */
		width: clamp(40px, 50%, 75px);
		border: 4px double var(--accent-color);
		border-radius: 10px;
	}
}

/* the styles for the section */
section {
	padding-left: .5em;
	border-bottom: var(--accent-color) 2px solid;
	& img {
		width: clamp(100px, 50%, 250px);
		float: right;
		margin: 0 1em .25em;
	}
}

/* the styles for the aside */
aside {
	padding-right: .5em;
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

/* CSS class */
.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}
.speaker {
	& h1 {
		color: var(--accent-color);
	}
	& h2 {
		color: black;
	}
	& p {
		padding: .5em 0; 
	}	
}
.large {
	font-size: 125%;
}

/* styles for the menu */
.menu {
	position: absolute;
	left: 0;
	background-color: var(--accent-color);
	width: 40%;
	display:none;
}

.navbar {
	clear: left;
	position: relative;
	background-color: var(--accent-color);
	& a {
		display: block;
		padding: 1em;
		text-decoration: none;
		margin: 0 2px 2px 0;
	}
	& a:link, a:visited { 
		color: var(--light_menu);
	}
	& a:hover, a:focus, a.current {
		background-color: var(--mid_menu);
		color: var(--dark_menu);
	}
	& ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.submenu {
	position: relative;
	& small { margin-left: .25em; }
	& small::before{
		content: "▼";
		display: inline-block;
		font-size: 0.75em;
		line-height: 1;
	}
}

.dropdown {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	background-color: var(--accent-color);
	color: var(--light_menu);
	display: none;
	& > li a { margin:2px; }
}

.submenu:hover > .dropdown {
	display: block;
}

.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }

.menu-btn {
	display: block;
	background-color: var(--accent-color);
	color: var(--light_menu);
	padding: 1em;
	position: relative;
	height: 50px;
}

.menu-btn::before {
	content: "☰";
	display: block;
	font-size: 1.5em;
	line-height: 1;
}

/* visually hide the checkbox but keep it operable via the label */
#menu-toggle {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

#menu-toggle:checked ~ .menu {
	display: block;
}

@media(min-width: 765px) {
	.menu {
		display: flex;
		position: relative;
		width: 100%;
		& li { 
			flex-basis: 20%; 
			text-align: center;
			display: inline-block
		}
	}

	.menu-btn{
		display: none;
	}

	#menu-toggle{
		display: none;
	}

	.submenu {
	& small { 
		margin-left: .25em;
		display: inline-block
	}
	& small::before{
		content: "▼";
		display: inline-block;
		font-size: 0.75em;
		line-height: 1;
	}
}

.dropdown {
	top: auto;
	left: 0;
	right: 0;
	& > li a { margin: 0 2px 2px; }
}
.submenu:hover > .dropdown {
	display: block;
}

.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }

.navbar {
	& a {
		margin: 0 1px 2px;
	}
}

}

@media(min-width: 900px) {
	main {
		flex-direction: row;
	}

	section {
		flex-basis: 75%;
	}

	aside {
		flex-basis: 25%;
	}

}

@media(min-width: 524px) {
	header {
		text-align: left;
	& img {
		width: clamp(40px, 15%, 80px);
		float: left;
		margin: .75em 1em;
		display: block;
	}
}
}